h1 {
  margin-bottom: 8 * 6px;
}

h2 {
  margin-top: 8 * 4px;
  margin-bottom: 8 * 2px;
}

h3 {
  margin-top: 8 * 4px;
  margin-bottom: 8 * 2px;
}

ul,
ol {
  margin-bottom: 2em;
  li {
    margin-bottom: 1.5em;
    li {
      margin-top: 1em;
    }
  }
}

table {
  border: 1px solid #ccc;
  thead {
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  th,
  td {
    padding: 8px;
    border-left: 1px solid #ccc;
  }
}
