@import '../_variable.scss';
:global {
  h1,
  h2,
  h3 {
    color: $color-text;
  }
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8 * 4px;
  }

  h2 {
    font-size: 26px;
    margin-top: 8 * 4px;
    margin-bottom: 8 * 2px;
  }

  h3 {
    margin-top: 8 * 4px;
    margin-bottom: 8 * 2px;
  }

  ul,
  ol {
    margin-bottom: 2em;
    li {
      margin-bottom: 1.5em;
      li {
        margin-top: 1em;
      }
    }
  }

  table {
    border: 1px solid $color-border;
    th,
    td {
      padding: 12px;
      border-left: 1px solid $color-border;
    }
    thead {
      border-bottom: 1px solid $color-border;
      text-align: center;
      background: $color-bg-xlight;
    }
    tbody {
      th,
      td {
        border-bottom: 1px solid $color-border;
      }
    }
  }
  p {
    color: $color-text;
  }

  %ex-box {
    background-color: $color-bg-light;
    border-radius: 4px;
    padding: 16px;
  }
  dl.box {
    @extend %ex-box;
    dt {
      font-weight: bold;
    }
    > dd {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  dl.box-label {
    dt {
      font-weight: bold;
      font-size: 18px;
    }
    > dd {
      @extend %ex-box;
      &:last-child {
        margin-bottom: 0;
      }
      ul,
      ol {
        padding-left: 0;
        &:last-child {
          margin-bottom: 0;
        }
        li {
          list-style: none;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  pre[class*='language-'] > code {
    border-left: none;
  }
  pre[class*='language-'].line-numbers.line-numbers code {
    padding: 4px 8px;
    background: #24243f;
    color: #fff;
    border-radius: 4px;
  }
}
